<html>
  <%- include('./partials/head.ejs')%>
    <body>
      <%- include('./partials/nav.ejs')%>
        
        <div class="row">
            <div class="column1 files" >
              <h2>Project List</h2>

              <ul class="nav-link" style="list-style-type:square">
                <% if (fileList.length > 0) { %>
                    <% fileList.forEach( function(fileInfo) { %>
                        <li>
                            <a href="/report/<%= fileInfo.filename%>" target= "customReportDisplay"><%= fileInfo.filename %></a>
                            
                            <!--a href=fileInfo.filepathvtarget= "customReportDisplay"><%= fileInfo.filename %></a      fileInfo.filepath-->
                        </li>
                        
                    <% }) %>
                <% } %>
              </ul>
            
            
            </div>
            
               <div class="column2" style="background-color:#AED6F1;">
                <!--form action="/report/testdw/test" method="get"-->
                <h2>Custom Report</h2>  
                 
                  <p>Select a link to view the custom report </p>
               
                <iframe src="/message" width="100%" height="100%" align="middle" name="customReportDisplay"  id="customReportDisplay" style="background-color:#f5f9fc;">
                  <p>iframes are not supported by your browser.</p>
                 </iframe>
                 
                
              </div>
              
        </div>
    </body>
</html> 