<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->                
        <link rel="stylesheet" href="/css/style.css">

        <!-- Add icon library 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            -->
        <style>
           
        </style>
        <!--script>
            location.reload(true); // reload new content
            </script>-->
        <title>Custom Report</title>
    </head>

    <body>
        <div>
            <form action="/report/download/<%= projectname%>" method="get">
                 
            <button class="downloadBtn" id="downloadBtn" ><i class="fa fa-file-pdf-o"></i> Convert to PDF</button>
          
            </form>
        </div>
        <div class="header">
            
                <img src="/images/njc_full_logo.png" width="80" height="80" style="vertical-align:middle;margin:0px 50px" >          
                <h1> Mule Migration Assistant Report </h1>
            
        </div>
        <div class="h-style">
            Issues found during migration: 
        </div>
        <div class="col-left-margin">
            
            
                <% if (data.length > 0) { %>
                    <% let openTable = 0  %>
                    <% data.forEach( function(entry) { %>
                        
                        <% if (entry.issue === 'Errors:' ||  entry.issue === 'Info:' ||  entry.issue === 'Warnings:') {  %>
                           
                            <% if(openTable == 1) { %>
                                </table>
                                <h2 margin=50px;><%= entry.issue %></h2 >
                                <table id="report-issue" >
                                    <tr class="tr-border">
                                        <th class="td-col1">Description</th>
                                        <th class="td-col1">Solution</th>
                                        <th class="td-col2">Total issue</th>
                                        <th class="td-col3">Est. Time (mins)</th >
                                    </tr >
                               
                             
                             <% } else {%>
                                <h2 margin=50px;><%= entry.issue %></h2 >
                                <table id="report-issue" >
                                    <tr class="tr-border">
                                        <th class="td-col1">Description</th>
                                        <th class="td-col1">Solution</th>
                                        <th class="td-col2">Total issue</th>
                                        <th class="td-col3">Est. Time (mins)</th >
                                    </tr >
                                <%  openTable = 1; %>
                                
                            <% } %>
                            
                                    
                           
                        <% } else if ((entry.issue).includes(".xml")){ %>
                            <tr class="tr-border" background-color: #E8F8F5;>
                                <td class="td-col1" ><b><%= entry.issue %></b></td >
                                <td class="td-col1"></td>
                                <td class="td-col2"><b><%= entry.total %></b></td >
                                <td class="td-col3"></td >
                            </tr >
                        <% } else { %>
                            <tr class="tr-border1">
                                <!--td class="td-col1"><%= entry.issue %></td -->
                                <td class="td-col1"><a href=<%=entry.alink %>><%= entry.issue %></a></td>
                                <td class="td-col1">Solution</td>
                                <td class="td-col2"><%= entry.total %></td >
                                <td class="td-col3"><%= entry.time %></td >
                            </tr >
                        <% } %>
                        
                    
                    <% }) %>
                <% } %>
            </table>
        </div>
        
      
        <div class="col-left-margin"><h3>Estimated Time</h3>
            <p>Verification time: <%= vtime%></p>
            <table id="report">
                <tr>
                    <th>Complexity </th>
                    <th>Estimated time (hrs) </th>
                    <th>Estimated cost ($)</th>
                </tr>

                <tr>
                    <!--% const complex = 'medium' %-->
                    <td><%= complex %> </td>
                    <td><%= timeHrs %> hrs <%= timeMins%>mins</td>
                    <td>$<%= cost %></td>
                </tr>
            </table>
        </div>

        
   </body>

</html>